li{color: #712A00; font-family: Verdana; font-size: 30px;}
a:hover{color: red;font-family: Verdana; font-size: 30px; background-color: black;}
table{margin:0 auto}
body{background-image: url(fondo\ left.jpg);}
h1{color: #491212; font-family: Verdana; font-size: 30px;}
p{color: black;}